*.i

*.out
*.result
*.log
*.swp
*.DS_Store
*.bak

*.o
/exam
/tetris/ctrl.o
/tetris/game.o
/tetris/simple_timer.o
/tetris/tetris_double.o
/tetris/tetris_single.o
/tetris/tetris_single2.o
/tetris/utils.o
/tetris/view.o
/tetris/tetris_double
/tetris/tetris_single
/tetris/tetris_single2
/tetris/console.o
